﻿@{
    //Layout = null; nullázza a körítést csak ez a tartalom jelenik meg.

    ViewData["Title"] = "Contact";

    // if (true)
    ViewData["Message"] = ViewData["Message"].ToString() + ViewData["Message"].ToString();
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Budapest<br />
    <abbr title="Phone">P:</abbr>
    +36123456789
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
